.favorites-container {
  margin-bottom: 40px;
  display: flex;
  flex-direction: column;
  align-items: center; 
}

.favorites-container img {
  max-width: 30%;
  height: auto;
}

.favorites-container button {
  margin-bottom: 20px;
}

