.favorites-container {
  margin-bottom: 40px;
  display: flex;
  flex-direction: column;
  align-items: center; 
}

.favorites-container img {
  max-width: 30%;
  height: auto;
}

@media (max-width: 768px) {
  .favorites-container img {
    max-width: 50%; /* Increase size on smaller screens */
  }
}

.favorites-container button {
  margin-bottom: 20px;
}

