h3 {
  text-align: center;
}

.title {
  text-align: center;
}

.title img {
  max-width: 10%; /* Ensures the image does not exceed the width of its container */
  height: auto;    /* Maintains aspect ratio */
}

@media (max-width: 768px) {
  .title img {
    width: 30%; /* Adjust size for smaller screens */
    max-width: 300px;
    height: auto; /* Maximum size for smaller screens */
  }
}

.search {
  display: flex;
  justify-content: center; /* Centers horizontally */
  align-items: center; /* Centers vertically if the parent has height */
  width: 100%; /* Ensures the search component takes up full width */
  margin-top: 20px;
  margin-bottom: 20px; /* Optional: adds some space below the search bar */
}

.sorting {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
}

.select-a-cat {
  margin-bottom: 20px;
}

.select-a-cat h3 {
  margin-top: 40px;
  text-align: center;
}

.main-buttons-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr); /* Two columns */
  gap: 2px; /* Minimal space between buttons */
  max-width: 600px; /* Control overall width */
  margin: 0 auto; /* Center container */
}

.main-buttons {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 0; /* Remove default margin */
  padding: 0; /* Remove default padding */
  width: 100%; /* Full width of grid cell */
}

.selected-image-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 20px auto; /* Center the container with auto left/right margins */
  padding: 20px; /* Add some padding to prevent content from touching the border */
  max-width: 600px; /* Set a maximum width for the container */
  width: 100%; /* Make sure the container doesn't exceed its content's width */
  box-sizing: border-box; /* Ensure padding is included in the width */
}

/* Only show the border when a cat is selected */
.selected-image-container.has-cat-selected {
  border: 5px solid #3DD1E7;
}

.selected-image {
  max-width: 50%; /* Responsive width */
  height: auto; /* Maintain aspect ratio */
}

/* Media query for screens smaller than 768px */
@media (max-width: 768px) {
  .selected-image {
    max-width: 50%; /* Increase size on smaller screens */
  }
}
