.search {
  display: flex;
  justify-content: center; /* Centers horizontally */
  align-items: center; /* Centers vertically if the parent has height */
  width: 100%; /* Ensures the search component takes up full width */
  margin-top: 20px;
  margin-bottom: 20px; /* Optional: adds some space below the search bar */
}

.sorting {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
}

.select-a-cat {
  margin-bottom: 20px;
}

.select-a-cat h3 {
  margin-top: 40px;
  text-align: center;
}

.main-buttons {
  display: flex;
  justify-content: center;
  align-items: center;
}

.selected-image-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
  margin-bottom: 60px;
}

.selected-image {
  max-width: 30%; /* Responsive width */
  height: auto; /* Maintain aspect ratio */
}

/* Media query for screens smaller than 768px */
@media (max-width: 768px) {
  .selected-image {
    max-width: 50%; /* Increase size on smaller screens */
  }
}
